{% extends 'salon/base.html' %}
{% block content %}
<h2>All Cars</h2>
<div class="row">
    {% for car in cars %}
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <h5>{{ car.name }}</h5>
                <p>Brand: {{ car.brand.name }}</p>
                <p>Year: {{ car.year }}</p>
                <p>Price: ${{ car.price }}</p>
                <a href="{% url 'car_detail' car.pk %}" class="btn btn-info">Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
>